Repository IshinoJun/next.js-test: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

SSGとSSRを比べてみた
  .eslintrc
  package.json
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/api/hello.tsx
  src/pages/index.module.scss
  src/pages/index.tsx
  src/pages/ssg/index.tsx
  src/pages/ssr/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

アローに書き換え
  src/pages/ssg/index.tsx
Due: eslint --fix

getServerSidePropsに書き換え
  src/pages/ssr/index.tsx
Due: eslint --fix

プレビュー
  .env
  src/models/Blogs.ts
  src/models/Model.ts
  src/pages/api/preview.ts
  src/pages/blogs/[id].tsx
  src/pages/blogs/index.tsx
Due: eslint --fix

フォーム作ってみた
  package-lock.json
  package.json
  src/component/testForm.tsx
  src/pages/_document.tsx
  src/pages/form/index.module.scss
  src/pages/form/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

フォーム修正
  src/pages/form/index.tsx
Due: eslint --fix

react-hook-form使ってみた
  package.json
  src/pages/reactHookForm/index.module.scss
  src/pages/reactHookForm/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

git
  .gitignore
Due: none

env
  .env
  src/pages/blogs/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: {*.{json,md},.*rc}
